@import '@/styles/base/settings.scss';

/* アスペクト比 1:1 */
.aspect-ratio-1-1 {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.aspect-ratio-1-1 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

/* アスペクト比 4:3 */
.aspect-ratio-4-3 {
  position: relative;
  padding-bottom: 75%; /* 3/4 = 0.75 = 75% */
  overflow: hidden;
}

.aspect-ratio-4-3 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

/* アスペクト比 16:9 */
.aspect-ratio-16-9 {
    position: relative;
    padding-bottom: 56.25%; /* 9/16 = 0.5625 = 56.25% */
    overflow: hidden;
}


.aspect-ratio-16-9 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

/* アスペクト比 2.35:1 */
.aspect-ratio-235-1 {
    position: relative;
    padding-bottom: 42.55%; /* 1/2.35 = 0.4255 = 42.55% */
    overflow: hidden;
}

.aspect-ratio-235-1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

/* アスペクト比 3:4 */
.aspect-ratio-3-4 {
    position: relative;
  padding-bottom: 133.33%; /* 4/3 = 1.3333 = 133.33% */
  overflow: hidden;
}

.aspect-ratio-3-4 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

/* アスペクト比 9:16 */
.aspect-ratio-9-16 {
    position: relative;
    padding-bottom: 177.78%; /* 16/9 = 1.7778 = 177.78% */
    overflow: hidden;
}


.aspect-ratio-9-16 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
$scale: 1.1;
.item__imageContainer.aspect-ratio-1-1  {
    width: calc(216/1280 * 100vw * #{$scale});
}
.item__imageContainer.aspect-ratio-4-3  {
    width: calc(248/1280 * 100vw * #{$scale});
}
.item__imageContainer.aspect-ratio-16-9  {
    width: calc(287/1280 * 100vw * #{$scale});
}
.item__imageContainer.aspect-ratio-235-1  {
    width: calc(331/1280 * 100vw * #{$scale});
    // width: 331px;
}
.item__imageContainer.aspect-ratio-3-4  {
    width: calc(186/1280 * 100vw * #{$scale});
    // width: 186px;
}
.item__imageContainer.aspect-ratio-9-16  {
    width: calc(161/1280 * 100vw * #{$scale});
    // width: 161px;
}