@import '@/styles/base/breakpoints.scss';
@import '@/styles/base/settings.scss';


.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.container__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    z-index: -1;
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 0;
    z-index: 2; 
    @include mq-down(sm) {

    }
    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 170px;
        height: auto;
    }

    .header__right {
        position: absolute;
        left: 50%;
        right: 20px;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        @include mq-down(sm) {
            left: 0;
            top: 40vw;
        }
    }


    .description {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        margin-top: 8px;
        font-size: 10px;
        line-height: 105%;
        font-family: 'Karma', serif;
        font-weight: 600;
        @include mq-down(sm) {
            display: block;
        }
        .description__title {
            font-size: 10px;
            font-weight: bold;
            margin-right: 30px;
            @include mq-down(sm) {
                display: block;
                margin-bottom: 40px;
            }
        }
        .description__text {
            font-size: 10px;
        }
    }
}
$image-width: calc(100vw * (762/1280));
$image-height: calc(100vw * (282/1280));

.nav {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: start;
    margin-top: -7px;
    @include mq-down(sm) {
        display: none;
    }
}

.nav__submit {
    background-color: #000;
    color: #fff;
    width: 88px;
    height: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.copy {
    position: fixed;
    top: 50%;
    left: 100vw;
    transform: translate(-2em, -10.5vw) rotate(90deg);
    transform-origin: 0 0;
    font-size: 10px;
    line-height: 105%;
    font-family: 'Karma', serif;
    font-weight: 600;
    @include mq-down(sm) {
        transform: none;
        bottom: 9px;
        left: 10px;
        top: auto;
    }
}

.title {
    width: $image-width;
    height: $image-height;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(calc(-1vw - #{$image-width}/2), calc(-0.5vw - #{$image-height}/2));
    @include mq-down(sm) {
        top: 9px;
        right: 8px;
        left: auto;
        width: 138px;
        transform: none;
    }
    img {
        height: 100%;
    }
}

.virtualScrollContainer {
  height: 2000vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  @include mq-down (sm) {
    height: 100vh;
  }
}

.featured {
    position: fixed;
    bottom: -90px;
    left: 0;
    @include mq-down (sm) {
        bottom: 0;
        position: relative;
        right: 0;
        left: 0;
    }

    .featured__title {
        position: absolute;
        bottom: 140px;
        left: 40px;
        font-size: 40px;
        text-align: right;
        font-weight: 600;
        line-height: 98%; /* 40.023px */
        letter-spacing: -0.817px;
        margin-right: 54px;
        z-index: 1;
        @include mq-down(sm) {
            position: fixed;
            bottom: auto;
            left: 8px;
            top: 100vw;
            margin-right: 0;
            transform-origin: 0% 0%;
            transform: rotate(90deg) translateY(-2em);
            text-align: left;
            font-size: 27px;
        }
        .featured__title__arrow {
            display: block;
            position: absolute;
            bottom: -30px;
            right: 0;
            background-image: url('/images/featured_number.png');
            background-repeat: no-repeat;
            background-size: 100%;
            width: 74px;
            height: 25px;
            @include mq-down(sm) {
                width: 45px;
                transform-origin: 0% 0%;
                transform: rotate(-90deg) translate(18px, 2.3em);
            }
        }
    }

    $extraSpaceForScrolling: 50px;
    .featured__list {
        scrollbar-width: none; // Firefox
        padding-left: 260px;
        @include mq-down(sm){
            position: fixed;
            top: 112vw;
            right: 0;
            left: 0;
            margin-top: -#{$extraSpaceForScrolling};
            padding-left: 0;
            padding-left: 84px;
            overflow-x: scroll;
            overflow-y: hidden;
        }
        .featured__list__inner {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            z-index: 0;
        }
        &::-webkit-scrollbar {
            display: none; // Chrome, Safari, Edge
        }
        .featured__item {
            margin-right: 64px;
            position: relative;
            @include mq-down(sm) {
                padding-top: $extraSpaceForScrolling; // extra space to make it easier to scroll
                padding-bottom: $extraSpaceForScrolling;
                margin-right: 56px;
            }
            .featured__item__image {
                height: auto;
            }
            .featured__item__text {
                position: absolute;
                top: 0;
                left: calc(100% + 2em);
                transform-origin: 0 0;
                transform: rotate(90deg) translateY(-5px);
                width: 100%;
                line-height: 1em;
                font-size: 11px;
                font-weight: 600;
                @include mq-down(sm) {
                    top: $extraSpaceForScrolling;
                }
            }
        }
    }
}

.container__graffitiFooter {
    position: fixed;
    z-index: 1;
    bottom: -10vw;
    right: -3vw;
    width: 50vw;
    pointer-events: none;
    @include mq-down(sm) {
        bottom: -20vw;
        right: -20vw;
        width: 110vw;
    }
}

.container__graffitiHeader {
    position: fixed;
    z-index: 1;
    top: -9.5vw;
    left: -7vw;
    width: 45vw;
    pointer-events: none;
    @include mq-down(sm) {
        width: 100vw;
        left: -35vw;
        top: 4vw;
    }
}
.container__graffitiHeader2 {
    position: fixed;
    z-index: 0;
    bottom: -3vw;
    left: -3vw;
    width: 40vw;
    pointer-events: none;
    @include mq-down(sm) {
        display: none;
    }
}