@import '@/styles/base/breakpoints.scss';
@import '@/styles/base/settings.scss';


.container {
    // position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    // z-index: 0;
}

.container__inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.container__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    z-index: -1;
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 0;
    z-index: 2; 
    .logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 170px;
        height: auto;
    }

    .header__right {
        position: absolute;
        left: 50%;
        right: 20px;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }


    .description {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        font-size: 10px;
        line-height: 105%;
        font-family: 'Karma', serif;
        font-weight: 600;
        .description__title {
        font-size: 10px;
        font-weight: bold;
        margin-right: 30px;
        }
        .description__text {
        font-size: 10px;
        }
    }
}
$image-width: calc(100vw * (762/1280));
$image-height: calc(100vw * (282/1280));

.copy {
    position: fixed;
    top: 50%;
    left: 100vw;
    transform: translate(-2em, -12.5vw) rotate(90deg);
    transform-origin: 0 0;
    font-size: 10px;
    line-height: 105%;
    font-family: 'Karma', serif;
    font-weight: 500;
}

.title {
    width: $image-width;
    height: $image-height;
    // 親要素の左右中央に配置
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(calc(-1vw - #{$image-width}/2), calc(-2vw - #{$image-height}/2));
    img {
        height: 100%;
    }
}

.virtualScrollContainer {
  height: 2000vh;
  overflow-y: scroll;
  position: relative;
  z-index: 1000;
}

.featured {
    position: fixed;
    bottom: -90px;
    // right: 0;
    left: 0;
    // overflow: hidden; // 縦方向のスクロールを防ぐため

    .featured__title {
        position: absolute;
        bottom: 140px;
        left: 40px;
        font-size: 40px;
        text-align: right;
        font-weight: 600;
        line-height: 98%; /* 40.023px */
        letter-spacing: -0.817px;
        margin-right: 54px;
        z-index: 1;
        .featured__title__arrow {
            display: block;
            position: absolute;
            bottom: -30px;
            right: 0;
            background-image: url('/images/featured_number.png');
            background-repeat: no-repeat;
            background-size: 100%;
            width: 74px;
            height: 25px;
        }
    }
    .featured__list {
        scrollbar-width: none; // Firefox
        padding-left: 260px;
        &::-webkit-scrollbar {
            display: none; // Chrome, Safari, Edge
        }
        .featured__list__inner {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            z-index: 0;
        }
        .featured__item {
            margin-right: 64px;
            position: relative;
            .featured__item__image {
                height: auto;
            }
            .featured__item__text {
                position: absolute;
                top: 0;
                left: calc(100% + 2em);
                transform-origin: 0 0; /* 右上を回転軸とする */
                transform: rotate(90deg) translateY(-5px); /* 90度時計回りに回転 */
                line-height: 1em;
                font-size: 11px;
                font-weight: 600;
            }
        }
    }
}